<cvt:template
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cvt="http://xmlns.therebetygers.net/civet/0.1"
    extends="base.html">

  <cvt:head>
    <cvt:locale lang="en" country="US" encoding="utf-8" />

    <cvt:defvar name="editURL">
      <cvt:var name="urlScheme"/>://<cvt:var name="hostName"/>/content/<cvt:var name="articleID"/>
    </cvt:defvar>
  </cvt:head>

  <cvt:block name="pageScripts">
    <script type="text/javascript">
      var dirty = false;
      var bodyMD = "<cvt:var name="bodyMD"/>";
      var bodyDiv;
      var bodyHTML;
      var canEdit = <cvt:var name="canEdit" type="boolean" format="ls"/>;
    
      function showEditButton() {
      }
      
      function beginEditing() {
        bodyDiv.empty();
      }
    
      function discardChanges() {
      }
  
      function previewChanges() {
      }
  
      function submitChanges() {
      }
  
      function setupForAJAX() {
        $("#beginEditForm").removeAttr("action");
        $("#beginEditForm").removeAttr("method");
      }
  
      $(document).ready(function () {
        bodyDiv = $("#articleBody");
        bodyHTML = bodyDiv.html();
        if (canEdit) {
          showEditButton();
        }
      });
    </script>
  </cvt:block>

  <!--
  <cvt:block name="bodyClass">SingleArticle</cvt:block>
  -->
  
  <cvt:block name="headerContent">
    <h1>S I N G L E   A R T I C L E   P A G E</h1>
  </cvt:block>
  
  <cvt:block name="leftSideContent">
    <em>Left</em>
  </cvt:block>
  
  <cvt:block name="mainContent">
    <cvt:if test="seriesTitle">
      <h4 id="seriesTitle"><cvt:var name="seriesTitle"/><cvt:if test="partNo">, Part <cvt:var name="partNo"/></cvt:if></h4>
    </cvt:if>
    <h3 id="articleTitle"><cvt:var name="articleTitle"/></h3>
    <cvt:if test="articleSubTitle">
      <h5 id="articleSubTitle"><cvt:var name="articleSubTitle"/></h5>
    </cvt:if>
    <div id="articleBody">
      <cvt:var name="articleBody"/>
    </div>
    <form id="beginEditForm" cvt:action="editURL" method="POST">
      <input id="returnTo" name="returnTo" type="hidden" cvt:value="currentPath" />
      <button id="editButton" name="editButton" type="submit">Edit</button>
    </form>
  </cvt:block>
  
  <cvt:block name="rightSideContent">
    <em>Right</em>
  </cvt:block>
  
  <cvt:block name="footerContent">
    <p class="copyrightNotice">
      Copyright © <cvt:var name="copyrightYear"/> by <cvt:var name="authorName"/>. <cvt:var name="rightsStatement"/>.
    </p>
  </cvt:block>
</cvt:template>
